html{
    min-width: 1400px;
}
body{
    width: 100%;
    min-width: 1400px;
    /*height: 10000px;*/
}
#header{
    position: relative;
    width: 100%;
    height: 628px;
    background: url("../img/index/main_banner.jpg") no-repeat center center;
}
#header #h_nav{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100px;
    min-width: 1200px;
}
#header #h_nav.isFixed{
    position: fixed;
}
#header .scroll{
    background-color: rgba(251, 227, 255, 0.4);
}
#header #h_nav .main_nav{
    float: right;
    margin-right: 40px;
    width: 700px;
    height: 25px;
}
#header #h_nav .main_nav ul{
    width: 100%;
    height: 100%;
}
#header #h_nav .main_nav ul li{
    float: left;
    width: 104px;
    height: 60px;
    margin-top: 40px;
}
#header #h_nav .main_nav ul li a{
    display: block;
    width: 100%;
    height: 25px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #000;
    transition: color .3s;
}
#header #h_nav .main_nav ul li a:hover{
    color: orangered;
}
#header #h_nav .main_nav ul .line{
    float: left;
    width: 15px;
    height: 100%;
    margin-top: 40px;
    background: url("../img/index/index.png") no-repeat -1542px -1440px;
}
#header #h_nav .hideDiv{
    position: absolute;
    display: none;
    top: 100px;
    width: 100%;
    height: 200px;
    background-color: rgba(240, 219, 149, 0.4);
}
#header #h_nav .hideDiv ul{
    float: right;
    width: 100%;
    height: 108px;
}
#header #h_nav .hideDiv ul li{
    float: right;
    width: 216px;
    height: 100%;
    margin-top: 40px;
}
#header #h_nav .hideDiv ul li+li{
    border-right: 1px solid #9d9182;
}
#header #h_nav .hideDiv ul li div{
    width: 80px;
    height: 100%;
    margin: 0 auto;
    transition: margin-top .2s;
    cursor: pointer;
}
#header #h_nav .hideDiv ul li div:hover{
    margin-top: -10px;
}
#header #h_nav .hideDiv ul li .h_bg{
    width: 100%;
    height: 70px;
    background: url("../img/index/index.png") no-repeat -1393px -301px;
}
#header #h_nav .hideDiv ul li .bg1{
    background: url("../img/index/index.png") no-repeat -1393px -231px;
}
#header #h_nav .hideDiv ul li .bg2{
    background: url("../img/index/index.png") no-repeat -1393px -301px;
}
#header #h_nav .hideDiv ul li .bg3{
    height: 68px;
    background: url("../img/index/index.png") no-repeat -1398px -371px;
}
/*#header #h_nav .hideDiv ul li .bg4{*/
    /*background: url("../img/index/index.png") no-repeat -1393px -231px;*/
/*}*/
#header #h_nav .hideDiv ul li div p{
    width: 100%;
    height: 18px;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;

}
#header #h_nav .h_logo{
    float: left;
    width: 370px;
    height: 100%;
}
#header #h_nav .h_logo .ewm{
    float: left;
    width: 123px;
    height: 100%;
}
#header #h_nav .h_logo .ewm p{
    float: left;
    width: 14px;
    height: 76px;
    margin: 10px 12px;
    font-size: 14px;
    white-space: normal;
}
#header #h_nav .h_logo .ewm img{
    float: left;
    width: 73px;
    height: 73px;
    margin-top: 12px;
    padding-right: 10px;
    border-right: 1px solid rgba(225, 210, 197, 0.69);
}
#header #h_nav .h_logo .logo{
    float: left;
    width: 237px;
    height: 100%;
}
#header #h_nav .h_logo .logo .logo_pic{
    float: left;
    width: 73px;
    height: 73px;
    background: url("../img/index/index.png") no-repeat -1400px -157px;
    margin: 14px 12px;
}
#header #h_nav .h_logo .logo .p1{
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0 0 100px;
}
#header #h_nav .h_logo .logo .p2{
    width: 140px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    margin: 8px 0 0 100px;
}
#header #logo_l{
    position: absolute;
    width: 70px;
    height: 199px;
    left: 0;
    opacity: 0;
    top: 40px;
    transform: scale(1);
    transition: transform .3s,opacity 1s,left 1s;
    background: url("../img/index/logo.png") no-repeat center center;
}
#header #logo_l.scale{
    transform: scale(0);
}
#header .role_box{
    position: absolute;
    left: 0;right: 0;
    margin: auto;
    width: 1105px;
    height: 584px;
}
#header .role_box .r1{
    position: absolute;
    bottom: 1px;
    left: 20px;
    width: 470px;
    height: 537px;
    background: url("../img/index/role/role1.png") no-repeat center center;
    transition: opacity 1s,left 1s;
}
#header .role_box .r2{
    position: absolute;
    bottom: 1px;
    left: 330px;
    width: 423px;
    height: 544px;
    background: url("../img/index/role/role2.png") no-repeat center center;
    transition: opacity 1s,left 1s;
}
#header .role_box .r3{
    position: absolute;
    opacity: 0;
    bottom: 1px;
    left: 220px;
    width: 491px;
    height: 583px;
    background: url("../img/index/role/role3.png") no-repeat center center;
    transition: opacity 1s,left 1s;
}
#header .role_box .r4{
    position: absolute;
    opacity: 0;
    bottom: 1px;
    left: 110px;
    width: 503px;
    height: 501px;
    background: url("../img/index/role/role4.png") no-repeat center center;
    transition: opacity 1s,left 1s;
}
#header .role_box a{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 105px;
    z-index: 10;
}
#header .role_box a .gif{
    height: 100%;
    width: 100%;
}
#header .role_box .button{
    position: absolute;
    left: 792px;
    top: 291px;
    width: 41px;
    height: 66px;
    cursor: pointer;
    background: url("../img/index/index.png") no-repeat -1400px -439px ;
    z-index: 2;
    transition: transform  .5s;
}
#header .role_box .button:hover{
    transform: scale(1.2);
}
#header .role_box .role_btg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    z-index: 9;
    background: url("../img/index/role/role_botbg.png") no-repeat 0 0;
}
#right_nav{
    position: absolute;
    width: 450px;
    height: 1107px;
    top: 422px;
    left: 950px;
    /*overflow-x: hidden;*/
    z-index: 10;
    /*background: url("../img/index/side_bg.png");*/
}
#right_nav .calender{
    position: absolute;
    top: -15px;
    right: 110px;
    width: 170px;
    height: 160px;
    z-index: 11;
    background: url("../img/index/index.png") no-repeat -729px -857px;
}
#right_nav .nav_list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/index/side_bg.png");
}
#right_nav .nav_list p{
    width: 148px;
    height: 46px;
    margin-left: 30px;
    margin-top: 54px;
    line-height: 46px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: rgb(210,78,63);
    background-color: rgb(250,229,51);
    border-radius: 4px;
}
#right_nav .nav_list .p2{
    position: relative;
    font-size: 28px;
    color: rgb(250,229,51);
    background-color: rgb(210,78,63);
    margin-top: 0;
    padding-top: 0;
    z-index: 12;
}
#right_nav .nav_list ul{
    width: 320px;
    height: 957px;
    margin-left: 20px;
    border: 1px solid #000;
}
#right_nav .nav_list ul .r_nav_li{
    position: relative;
    left: 0;
    width: 316px;
    height: 100px;
    background: url("../img/index/index.png") no-repeat -660px -1044px;
    cursor: pointer;
    transition: left .5s;
    /*margin-bottom: 14px;*/
}
#right_nav .nav_list ul .r_nav_li:hover{
    left: 10px;
}
#right_nav .nav_list ul .li1 div{
    position: absolute;
    top: 12px;
    left: 1px;
    width: 100%;
    height: 94px;
    background: url("../img/index/index.png") no-repeat -759px -16px;
    transition: height .5s ease-in-out;
    z-index: -1;
}
#right_nav .nav_list ul .li1:hover div{
    height: 197px;
    z-index: 2;
}
#right_nav .slide_box{
    position: absolute;
    top: 43px;
    left: -396px;
    width: 396px;
    height: 124px;
    overflow: hidden;
}
#right_nav .slide_box .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 396px;
    height: 124px;
    background: rgb(252,204,0);
    border-radius: 10px;
    transition: all .4s;
}
#right_nav .slide2{
    position: absolute;
    top: 43px;
    left: -24px;
    width: 24px;
    height: 124px;
    background: rgb(252,204,0);
    border-radius: 10px;
    opacity: 0;
    cursor: pointer;
}
#right_nav .slide2 div{
    width: 100%;
    height: 100%;
    background: url("../img/index/index.png") no-repeat -1327px -607px;
}
#right_nav .slide_box .slide .s_btn{
    float: left;
    margin: 10px 0 0 10px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    background: url("../img/index/index.png") no-repeat -1452px -621px;
}
#right_nav .slide_box .slide .s_adv{
    float: left;
    margin: 10px 0 0 10px;
    width: 48px;
    height: 100px;
    background: url("../img/index/index.png") no-repeat -1350px -614px;
}
#right_nav .slide_box .slide .s_ewm{
    float: left;
    margin: 10px 0 0 10px;
    width: 106px;
    height: 106px;
}
#right_nav .slide_box .slide .s_ewm img{
    display: block;
    width: 106px;
    height: 106px;
    border-radius: 10px;
}
#right_nav .slide_box .slide .s_btn_download{
    float: left;
    margin: 10px 0 0 10px;
    width: 168px;
    height: 50px;
    border-radius: 4px;
    background: #fff;
}
#right_nav .slide_box .slide .s_btn_download div{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    background:  url("../img/index/index.png") no-repeat -482px -1477px;
    border-radius: 4px;
    cursor: pointer;
}
#right_nav .slide_box .slide .s_btn_download .btn2{
    background-color: #fff;
    background: url("../img/index/index.png") no-repeat -650px -1477px;
}
#right_nav .slide_box .slide .s_btn_download div:hover{
    opacity: 0.8;
}
#l_content{
    width: 100%;
    height: 270px;
}
#l_content #l_c_box{
    width: 940px;
    height: 100%;
}
#l_content #l_c_box .l_banner{
    float: left;
    width: 360px;
    height: 100%;
    overflow: hidden;
    background: orangered;
}
#l_content #l_c_box .l_banner ul{
    position: relative;
    left: -1440px;
    width: 500%;
    height: 100%;
    cursor: pointer;
}
#l_content #l_c_box .l_banner ul li{
    float: left;
    width: 20%;
    height: 100%;
}
#l_content #l_c_box .l_news{
    float: left;
    margin-left: 35px;
    width: 500px;
    height: 100%;
}
#l_content #l_c_box .l_news .news_nav{
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #000;
}
#l_content #l_c_box .l_news .news_nav .news_li{
    float: left;
    position: relative;
    width: 74px;
    height: 30px;
    background: url("../img/index/index.png") no-repeat -1385px -1152px;
    cursor: pointer;
}
#l_content #l_c_box .l_news .news_nav .li2{
    background: url("../img/index/index.png") no-repeat -1385px -1122px;
}
#l_content #l_c_box .l_news .news_nav .li3{
    background: url("../img/index/index.png") no-repeat -1385px -1092px;
}
#l_content #l_c_box .l_news .news_nav .li4{
    background: url("../img/index/index.png") no-repeat -1385px -1062px;
}
#l_content #l_c_box .l_news .news_nav .li5{
    background: url("../img/index/index.png") no-repeat -1385px -1031px;
}
#l_content #l_c_box .l_news .news_nav .news_li div{
    position: absolute;
    top: 5px;
    display: none;
    width: 100%;
    height: 26px;
    background: aqua;
    border-radius: 50%;
    z-index: -1;
}
#l_content #l_c_box .l_news .news_nav .news_li:hover div{
    display: block;
}
#l_content #l_c_box .l_news .news_nav .n_line{
    float: left;
    width: 15px;
    height: 30px;
    margin-top: 10px;
    background: url("../img/index/index.png") no-repeat -1542px -1440px;
}
#l_content #l_c_box .l_news #l_news{
    position: relative;
    width: 500px;
    height: 209px;
    overflow: hidden;
    margin-top: 2px;
    border-top: 1px solid #000;
}
#l_content #l_c_box .l_news #l_news .news{
    position: relative;
    left: 0;
    width: 500%;
    height: 100%;
}
#l_content #l_c_box .l_news #l_news .news .news_list{
    float: left;
    width: 20%;
    height: 100%;
}
#l_news .news .news_list ul{
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
}
#l_content #l_c_box .l_news #l_news .news .news_list ul li{
    height: 40px;
    width: 100%;
    border-bottom: 1px dotted #000;
}
#l_news .news .news_list ul li p{
    float: left;
    width: 420px;
    height: 100%;
}
#l_news .news .news_list ul li p a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #000;
    font-size: 14px;
}
#l_news .news .news_list ul li p a:hover{
    color: #ee33ff;
}
#l_news .news .news_list ul li span{
    float: right;
    width: 68px;
    height: 100%;
    line-height: 40px;
    font-size: 12px;
    color: #b7bcc2;
}

/*chara start*/
#chara{
    width: 100%;
    height: 436px;
    margin-top: 40px;
    padding-top: 20px;
}
#chara .c_btn{
    width: 500px;
    height: 100px;
    margin-left: 98px;
}
#chara .c_btn .c_box_l{
    float: left;
    width: 130px;
    height: 100%;
}
#chara .c_btn .lt{
    margin-top: 15px;
    width: 100%;
    height: 71px;
    background: url("../img/index/index.png") no-repeat -411px -587px;
}
#chara .c_btn .sig{
    float: left;
    width: 62px;
    height: 8px;
    margin-left: 10px;
    margin-top: 44px;
    line-height: 6px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    color: #000;
}
#chara .c_btn .c_box{
    float: left;
    width: 74px;
    height: 82px;
    padding: 10px 8px 8px 13px;
    margin-left: 10px;
    background: url("../img/index/index.png") no-repeat -939px -1294px;
}
#chara .c_btn .c_box .mid{
    width: 100%;
    height: 34px;
    margin-top: 10px;
    background: url("../img/index/index.png") no-repeat -1400px -864px;
}
#chara .c_btn  .c_box .rt{
    margin-top: 10px;
    width: 68px;
    height: 40px;
    background: url("../img/index/index.png") no-repeat -1474px -1436px;
}
#chara .c_view{
    width: 100%;
    height: 350px;
    background: url("../img/index/content/strategy_bg.jpg") no-repeat 0px -95px;
}
#chara .c_view .dmt_box{
    width: 823px;
    height: 100%;
    /*padding-left: 10px;*/
    margin-left: 100px;
    overflow: hidden;
}
#chara .c_view .dmt_box .sub1{
    padding-top: 50px;
    width: 408px;
    height: 30px;
    border: 1px solid #000;
}
#chara .c_view .dmt_box .sub1 p{
    float: left;
    width: 54px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
#chara .c_view .dmt_box .sub1 .p1{
    color: rgb(206,162,65);
}
#chara .c_view .dmt_box .sub1 p:hover{
    color: rgb(206,162,65);
}
#chara .c_view .dmt_box .sub1 .viewAll{
    float: left;
    width: 131px;
    height: 29px;
    background: url("../img/index/content/viewAll_btn.png") no-repeat;
}
#chara .c_view .dmt_box .sub2{
    position: relative;
    width: 4130px;
    height: 258px;
    border: 1px dotted #000;
}
#chara .c_view .dmt_box .sub2 .s_sub{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 20%;
    height: 100%;
}
#chara .c_view .dmt_box .sub2 .s1{
    width: 822px;
    height: 100%;
}
#chara .c_view .dmt_box .sub2 .s1 .subbox{
    position: absolute;
    left: 0;
    top: 0;
    width: 7000px;
    height: 100%;
}
#chara .c_view .dmt_box .sub2  .show{
    display: block;
}
#chara .c_view .dmt_box .sub2  .s1 .subbox .s_s_sub{
    /*display: none;*/
    position: relative;
    float: left;
    width: 822px;
    height: 100%;
    transition: all .5s;
}
#chara .c_view .dmt_box .sub2 .s1 .subbox .show{
    display: block;
}
#chara .c_view .dmt_box .sub2 .s5{
    background: orangered;
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .pic{
    float: left;
    margin-top: 36px;
    width: 136px;
    height: 218px;
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .pic+.pic{
    border-left: 1px solid #898c91;
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .pic .pic_box{
    position: relative;
    display: block;
    float: left;
    width: 98px;
    height: 98px;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 25px;
    z-index: 2;
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .pic .pic_box:hover{
    background: rgba(0,0,0,0.5);
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .pic .pic_box img{
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
    width: 90px;
    height: 90px;
    border: 2px solid #898c91;
    border-radius: 50%;
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .pic .pic_box p{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    width: 16px;
    height: 52px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .btn{
    position: absolute;
    top: 128px;
    right: 0;
    width: 44px;
    height: 33px;
    background: url("../img/index/index.png") no-repeat -1401px -931px;
    cursor: pointer;
    z-index: 3;
}
#chara .c_view .dmt_box .sub2 .s_sub .s_s_sub .btn:hover{
    background: url("../img/index/index.png") no-repeat -1401px -898px;
}
#chara .c_view .dmt_box .sub2  .s_sub .s_s_sub .lbtn{
    position: absolute;
    top: 128px;
    left: 0;
    width: 44px;
    height: 33px;
    background: url("../img/index/index.png") no-repeat -1398px -832px;
    cursor: pointer;
    z-index: 3;
}
#chara .c_view .dmt_box .sub2  .s_sub .s_s_sub .lbtn:hover{
    background: url("../img/index/index.png") no-repeat -1398px -964px;
}
/*strategy start*/
#left_st{
    float: left;
    margin: 120px 0 0 100px;
    width: 373px;
    height: 515px;
    overflow: hidden;
}

#left_st input{
    float: left;
    margin-top: 22px;
    width: 310px;
    height: 32px;
    border: 2px solid #000;
    font-size: 16px;
    text-indent: 2ch;
    border-right: transparent;
}
#left_st .sub_btn{
    float: left;
    width: 58px;
    height: 58px;
    cursor: pointer;
    background: url("../img/index/index.png") no-repeat -1400px -563px ;
}
#left_st .sub_btn:hover{
    background: url("../img/index/index.png") no-repeat -1400px -505px ;
}
#left_st .st_banner{
    width: 368px;
    height: 416px;
    margin-top: 80px;
    border: 2px solid #000;
}
#left_st .st_banner .banner_pic{
    position: relative;
    width: 100%;
    height: 228px;
    padding-bottom: 20px;
    overflow: hidden;
}
#left_st .st_banner .banner_pic .img{
    position: absolute;
    top: 0;
    left: 0;
    height: 228px;
    width: 200%;
}
#left_st .st_banner .banner_pic img{
    float: left;
    width: 368px;
    height: 228px;
}
#left_st .st_banner .banner_pic .btn_box{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 20px;
    margin: 0 auto;
}
#left_st .st_banner .banner_pic .btn_box .btn{
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background: #000;
    border-radius: 50%;
    border: 4px solid #000;
    cursor: pointer;
}
#left_st .st_banner .banner_pic .btn_box .b_rt{
    background: #fff;
}
#left_st .st_banner .banner_st{
    width: 100%;
    height: 150px;
    margin-top: 10px;
}
#left_st .st_banner .banner_st a{
    display: block;
    float: left;
    margin-left: 35px;
    width: 24px;
    height: 134px;
    transition: all .5s;
    background: url("../img/index/index.png") no-repeat -1345px -315px;
}
#left_st .st_banner .banner_st a:hover{
    margin-top: -10px;
}
#left_st .st_banner .banner_st .a2{
    background: url("../img/index/index.png") no-repeat -1307px -466px;
}
#left_st .st_banner .banner_st .a3{
    background: url("../img/index/index.png") no-repeat -1319px -315px;
}
#left_st .st_banner .banner_st .a4{
    background: url("../img/index/index.png") no-repeat -1368px -315px;
}
#left_st .st_banner .banner_st .line{
    float: left;
    height: 100%;
    width: 9px;
    margin-left: 26px;
    background: url("../img/index/index.png") no-repeat -1295px -315px;
}
#right_st{
    float: left;
    width: 850px;
    height: 432px;
    margin: 184px 0 0 40px;
}
#right_st .st_nav{
    width: 96%;
    height: 90px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 2px solid #000;
}
#right_st .st_nav .first_nav{
    float: left;
    width: 134px;
    height: 100%;
    background: url("../img/index/index.png") no-repeat -1036px -1294px;
    cursor: pointer;
}
#right_st .st_nav .nav{
    position: relative;
    float: left;
    margin-left: 15px;
    width: 96px;
    height: 96px;
    z-index: 2;
    cursor: pointer;
}
#right_st .st_nav .nav .icon{
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
    margin: auto;
    width: 68px;
    height: 40px;
    background: url("../img/index/index.png") no-repeat -1400px -755px;
}
#right_st .st_nav .nav .i2{
    width: 69px;
    height: 32px;
    background: url("../img/index/index.png") no-repeat -1401px -998px;

}
#right_st .st_nav .nav .i3{
    width: 74px;
    height: 38px;
    background: url("../img/index/index.png") no-repeat -1401px -793px;

}
#right_st .st_nav .nav .i4{
    width: 82px;
    height: 32px;
    background: url("../img/index/index.png") no-repeat -1239px -993px;

}
#right_st .st_nav .nav .shadow{
    position: absolute;
    top: 96px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
    background: url("../img/index/index.png") no-repeat -939px -1297px;
}
#right_st .st_nav .show .shadow{
    top: 6px;
    opacity: 0.7;
}
#right_st .st_nav .sig{
    float: left;
    width: 44px;
    height: 8px;
    margin-left: 10px;
    margin-top: 49px;
    line-height: 6px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: #000;
}
#right_st .st_content{
    position: relative;
    float: left;
    margin-top: 36px;
    width: 850px;
    height: 290px;
    padding-bottom: 10px;
    overflow: hidden;
}
#right_st .st_content .content_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    height: 100%;
    transition: all .5s;
}
#right_st .st_content .content_box .content{
    float: left;
    width: 20%;
    height: 100%;
}
#right_st .st_content .content_box ul{
    float: left;
    width: 50%;
    height: 100%;
}
#right_st .st_content .content_box ul li{
    width: 90%;
    height: 19%;
    border-bottom: 1px dotted #000;
}
#right_st .st_content .content_box ul li a{
    display: block;
    width: 100%;
    height: 16px;
    padding-top: 10px;
    line-height: 14px;
    text-indent: 2ch;
    font-size: 14px;
    color: #000;
}
#right_st .st_content .content_box ul li:hover a{
    color: #9a21a5;
}
#right_st .st_content .content_box ul li p{
    width: 100%;
    height: 16px;
    margin-top: 6px;
    line-height: 16px;
    font-size: 14px;
    text-indent: 2ch;
    color: #b1b4ab;
}
#fan{
    float: left;
    width: 1220px;
    height: 534px;
    margin: 40px 0 0 100px;
}
#fan .part_logo{
    float: left;
    width: 112px;
    height: 107px;
    background: url("../img/index/index.png") no-repeat -928px -666px;
}
#fan .fan_nav{
    position: relative;
    float: left;
    margin-left: 40px;
    width: 1064px;
    height: 84px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
#fan .fan_nav .upload{
    float: left;
    width: 102px;
    height: 33px;
    margin-top: 20px;
    transition: all .5s;
    background: url("../img/index/index.png") no-repeat -930px -600px;

}
#fan .fan_nav .upload:hover{
    margin-left: 10px;
}
#fan .fan_nav ul{
    float: left;
    width: 940px;
    height: 60px;

}
#fan .fan_nav ul li{
    position: relative;
    float: left;
    width: 155px;
    height: 100%;
    cursor: pointer;
}
#fan .fan_nav ul li+li{
    border-left: 1px dotted #000;
}
#fan .fan_nav ul li p{
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: all .5s;
}
#fan .fan_nav ul li .show{
    margin-top: -10px;
}

#fan .fan_nav ul li .icon{
    position: absolute;

    left: 0;
    /*bottom: -80px;*/
    bottom: -80px;
    width: 100%;
    height: 53px;
    z-index: 99;
    transition: all .5s;
    background: #fff url("../img/index/fan/icons.png") no-repeat 0px 0px;
}
#fan .fan_nav ul li .ic2{
    background: url("../img/index/fan/icons.png") no-repeat -166px 0px;

}
#fan .fan_nav ul li .ic3{
    background: url("../img/index/fan/icons.png") no-repeat -312px 0px;

}
#fan .fan_nav ul li .ic4{
    background: url("../img/index/fan/icons.png") no-repeat -468px 0px;

}
#fan .fan_nav ul li .ic5{
    background: url("../img/index/fan/icons.png") no-repeat -624px 0px;

}
#fan .fan_nav ul li .ic6{
    background: url("../img/index/fan/icons.png") no-repeat -780px 0px;

}
/*#fan .fan_nav ul li:hover .icon{*/
    /*bottom: -26px;*/
/*}*/
#fan .fan_nav ul  .show .icon{
    bottom: -26px;
}
#fan .fan_nav ul  .show p{
    margin-top: -10px;
}
#fan .fan_content{
    position: relative;
    float: left;
    margin-top: 40px;
    width: 1202px;
    height: 380px;
    overflow: hidden;
}
#fan .fan_content .con_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 600%;
    height: 100%;
    transition: all .5s;
}
#fan .fan_content .con_box .content{
    float: left;
    width: 1202px;
    height: 100%;
}
#fan .fan_content .con_box .content ul{
    width: 100%;
    height: 50%;
}
#fan .fan_content .con_box .content ul li{
    position: relative;
    float: left;
    margin-right: 14px;
    width: 286px;
    height: 100%;
}
#fan .fan_content .con_box .content ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 164px;
    background-color: #000;
}
#fan .fan_content .con_box .content ul li a img{
    width: 100%;
    height: 100%;
    transition: all .3s;
}
#fan .fan_content .con_box .content ul li p{
    width: 100%;
    height: 16px;
    margin-top: 4px;
    line-height: 16px;
    text-indent: 4px;
    color: #564858;
}
#fan .fan_content .con_box .content ul li a .shadow{
    position: absolute;
    top: 0;bottom: 0;
    left: 0;right: 0;
    margin: auto;
    width: 80px;
    height: 96px;
    opacity: 0;
    transition: all .3s;
    background: url(../img/index/index.png) -679px -474px
}
#fan .fan_content .con_box .content ul li a:hover .shadow{
    opacity: 1;
}
#fan .fan_content .con_box .content ul li a:hover img{
    opacity: 0.6;
}

#vw{
    float: left;
    width: 100%;
    height: 514px;
    margin-top: 60px;
    background: url("../img/index/video/video_bg.jpg") no-repeat top center;
}
#vw .vw_content{
    width: 1262px;
    height: 420px;
    margin: 56px 0 0 100px;
}
#vw .vw_content .vwcont{
    float: left;
    margin-right: 40px;
    width: 586px;
    height: 416px;
}
#vw .vw_content .vwcont .vm_box{
    float: left;
    width: 272px;
    height: 200px;
    margin: 0 20px 10px 0;
    overflow: hidden;
}
#vw .vw_content .vwcont .vm_box a{
    float: left;
    width: 270px;
    height: 154px;
    transition: all .5s;
}
#vw .vw_content .vwcont .vm_box a:hover{
    transform: scale(1.05);
}
#vw .vw_content .vwcont  .box1 a{
    display: block;
    width: 228px;
    height: 150px;
    background: url("../img/index/index.png") no-repeat -1076px -466px;
}
#vw .vw_content .vwcont  .box1 a:hover{
    transform: none;
}
#vw .vw_content .vwcont  .box2 a{
    display: block;
    width: 228px;
    height: 148px;
    background: url("../img/index/index.png") no-repeat -1100px -614px;
}
#vw .vw_content .vwcont .vm_box a img{
    width: 100%;
    height: 100%;
}
#vw .vw_content .vwcont .vm_box p{
    float: left;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-indent: 2ch;
    background: white;
}
#activity{
    float: left;
    width: 100%;
    height: 370px;
    margin-top: 62px;
}
#activity .acti{
    float: left;
    margin-left: 100px;
    width: 257px;
    height: 100%;
    background: url("../img/index/activity/activity_title.png") no-repeat;
}
#activity .acti_cont{
    float: left;
    width: 962px;
    height: 346px;

    margin-left: 66px;
}
#activity .acti_cont .cont{
    width: 100%;
    height: 153px;
    margin-bottom: 36px;
}
#activity .acti_cont .cont div{
    position: relative;
    width: 270px;
    height: 153px;
    float: left;
    margin-right: 50px;
    overflow: hidden;
}
#activity .acti_cont .cont div img{
    width: 100%;
    height: 100%;
    transition: all .5s;
}
#activity .acti_cont .cont div:hover img{
    transform: scale(1.1);
}
#activity .acti_cont .cont div p{
    position: absolute;
    left: 10px;
    bottom:10px;
    height: 24px;
    line-height: 24px;
    width: auto;
    padding: 0 6px 0 6px;
    border: 1px solid #fff;
    color: #ffffff;
}
#contact{
    float: left;
    margin-top: 68px;
    width: 100%;
    height: 199px;
}
#contact .contact_box{
    width: 1208px;
    height: 100%;
    float: left;
    margin-left: 100px;
}
#contact .contact_box .ctc_logo{
    float: left;
    width: 70px;
    height: 100%;
    background: url("../img/index/logo.png") no-repeat;
}

#contact .contact_box .box{
    position: relative;
    width: 270px;
    height: 100%;
    float: left;
    margin-left: 126px;
    background: rgb(246,246,246);
}
#contact .contact_box .box2{
    margin-left: 60px;
}
#contact .contact_box .box2 .service{
    width: 112px;
    height: 112px;
    margin: 0 auto;
    background: url("../img/index/index.png") no-repeat -567px -473px;
}

#contact .contact_box .box p{
    float: left;
    width: 14px;
    height: auto;
    margin-top: 24px;
    line-height: 19px;
    font-size: 15px;
}
#contact .contact_box .box .p1{
    margin-left: 30px;
}
#contact .contact_box .box .large{
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
}
#contact .contact_box .box .bott{
    width: 100%;
    height: 14px;
    margin-left: 30px;
    font-size: 14px;
}
#contact .contact_box .box .bott span{
    color: #a1a180;
}
#contact .contact_box .box p+p{
    margin-left: 10px;
}
#contact .contact_box .box2 .ser_p{
    float: left;
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
#contact .contact_box .box .ewm{
    position: absolute;
    top: -32px;
    right: -32px;
    width: 164px;
    height: 164px;
    border: 1px solid rgb(224, 211, 225);
}
#contact .contact_box .box .ewm img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 118px;
    height: 118px;

}
#footer{
    position: relative;
    float: left;
    margin-top: 74px;
    width: 100%;
    height: 524px;
    overflow: hidden;
    background: url("../img/index/foot.jpg") no-repeat center center;
}
#footer .title{
    /*position: absolute;*/
    /*top: 0; right: 0;bottom: 0;left: 0;*/
    margin: 0 auto;
    margin-top: 110px;
    width: 592px;
    height: 28px;
    background: url("../img/index/index.png") no-repeat -659px -1150px;

}
#footer .flmid{
    position: relative;
    margin: 0 auto;
    margin-top: 56px;
    width: 240px;
    height: 326px;
    cursor: pointer;
}
#footer .flmid p{
    width: 118px;
    height: 24px;
    margin: auto;
    transition:  all .7s;
    background: url("../img/index/index.png") no-repeat -930px -633px;

}
#footer .flmid .p1{
    position: absolute;
    width: 22px;
    height: 74px;
    top: 30px;
    left: 110px;
    z-index: 9;
    transition:  all .7s;
    background: url("../img/index/index.png") no-repeat -1400px -81px;
}
#footer .flmid:hover .p1{
    top: -30px;
}
#footer .flmid .p2{
    position: absolute;
    width: 100%;
    top: 40px;
    height: 156px;
    transition:  all .5s;
    opacity: 0;
    z-index: 1;
}
#footer .flmid:hover .p2{
    top: 20px;
    opacity: 1;
}
#footer .flmid .p2 img{
    float: left;
    display: block;
    width: 156px;
    height: 156px;
    margin-left: 42px;
    box-shadow: #7497ff 1px 1px 12px 1px;
}
#footer .flmid .p2 p{
    width: 12px;
    height: 100%;
    float: left;
    margin-left: 30px;
    font-size: 14px;
    background: none;
}
#footer .flmid .p3{
    position: absolute;
    top: 120px;
    width: 215px;
    height: 221px;
    margin-left: 20px;
    transition:  all .7s;
    background: url("../img/index/index.png") no-repeat -355px -366px;

}
#footer .flmid:hover .p3{
    top: 170px;
}
#footer .flmid:hover .ti{
    opacity: 0;
}
